* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('./fontawesome-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Nunito";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(29, 29, 29);
    color: white;
    padding-top: 130px;
}


.icon {
    font-family: "FontAwesome";
}

.slider {
    width: 80%;
    /* margin-top: 130px; */
    /* max-width: 800px; */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.slides {
    display: flex;
    transition: transform 1.3s ease-in-out;
}

.slides img {
    width: 100%;
    flex-shrink: 0;
}

.whiteLine {
    width: 80%;
    height: 2px;
    margin: 20px 0;
    background-color: white;
    border-radius: 50%;
}

.text {
    width: 80%;
    background-color: rgb(116, 116, 116);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 30px;
    font-size: 20px;
}

.photoImage {
    width: 60%;
}

.photoText {
    width: 60%;
}

.photoLine {
    width: 60%;
}

.hLine {
    display: none;
}

.header {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(49, 49, 49);
    display: flex;
    align-items: center;
    padding: 0 40px 0 30px;
    box-sizing: border-box;
    justify-content: space-between;
}

.title a {
    transition: color 0.2s;
    text-decoration: none;
    color: white;
    font-size: 26px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.menu a {
    transition: color 0.2s;
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.menu a:hover {
    color: rgb(204, 204, 204);
}

.vLine {
    width: 2px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
}

.call {
    font-family: "Nunito";
    position: fixed;
    right: 70px;
    bottom: 200px;
    padding: 10px 20px;
    background: rgb(135, 135, 135);
    background: linear-gradient(20deg, rgba(135, 135, 135, 1) 0%, rgba(215, 215, 215, 1) 50%, rgba(135, 135, 135, 1) 100%);
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.capital {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.leftImg {
    width: 40%;
    border-radius: 10px;
}

.rowText {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
}

.footer {
    margin-top: 50px;
    width: 100%;
    height: 200px;
    background-color: rgb(49, 49, 49);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 100px; */
    padding: 0 200px;
    box-sizing: border-box;
}

.footer a{
    text-decoration: none;
    color: white;
    transition: color 0.2s;
}
.geoText a{
    font-size: 20px;
}
.info a {
    font-size: 24px;
}

.footer a:hover {
    color: rgb(204, 204, 204);
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.phones {
    display: flex;
    flex-direction: column;
}

.burger {
    display: none;
}

.burger-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    /* position: absolute;
    top: 20px;
    right: 20px; */
    z-index: 1000;
    position: relative;
}

.burger-btn span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.burger-btn.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.burger-btn.active span:nth-child(2) {
    opacity: 0;
}

.burger-btn.active span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

.burger-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #333;
    color: #fff;
    transition: right 0.3s ease;
    z-index: 999;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.burger-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.burger-menu li {
    margin: 30px 0;
    text-align: center;
}

.burger-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.2s;
}

.burger-menu a:hover {
    color: rgb(204, 204, 204);
}

.burger-menu.active {
    right: 0;
}


@media (max-width: 1885px) {
    .hLine {
        display: block;
        width: 60%;
    }

    .capital {
        flex-direction: column;
        gap: 0;
        align-items: center;
    }

    .leftImg {
        width: 60%;
    }

    .rowText {
        width: 60%;
    }
}

@media (max-width: 1528px) {
    .footer {
        padding: 0 100px;
    }
}

@media (max-width: 1277px) {
    .footer a {
        font-size: 20px;
    }
}

@media (max-width: 1212px) {
    .menu {
        display: none;
    }

    .burger {
        display: block;
    }
}

@media (max-width: 1194px) {
    .info {
        flex-direction: column-reverse;
        gap: 10px;
    }
}

@media (max-width: 1036px) {
    .geoText {
        width: 400px;
    }
}

@media (max-width: 850px) {
    .call{
        font-size: 16px;
        padding: 7px 14px;
        right: calc(50% - 91px);
        bottom: 20px;
    }
    iframe {
        width: 400px;
        height: 300px;
    }
}

@media (max-width: 780px) {
    .footer {
        padding: 0 50px;
    }

    .geoText {
        width: 350px;
    }
}
@media (max-width: 627px){
    .footer{
        padding: 0 20px;
    }
    .footer a{
        font-size: 16px;
    }
}
@media (max-width: 587px){
    .slider{
        width: 90%;
    }
    .text{
        width: 90%;
    }
    .whiteLine{
        width: 90%;
    }
    .hLine{
        width: 90%;
    }
    .photoLine{
        width: 90%;
    }
    .leftImg{
        width: 90%;
    }
    iframe {
        width: 200px;
        height: 200px;
    }
}
@media (max-width: 536px){
    .geoText {
        width: 200px;
    }
}
@media (max-width: 457px){
    .text{
        font-size: 18px;
    }
}
@media (max-width: 388px){
    .footer{
        padding: 0 10px;
    }
    .footer a{
        font-size: 14px;
    }
}
@media (max-width: 361px){
    .text{
        font-size: 14px;
    }
}